{{define "layout"}}
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon"
        type="image/png"
        href="{{ assetPath .fs "static/images/favicon.ico" }}">
  <meta charset="utf-8">
  <title>Test</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Rubik:wght@300;400;500&display=swap"
        rel="stylesheet">
  <link rel="stylesheet" href="{{ assetPath .fs "static/css/theme.css" }}">
  <link rel="stylesheet" href="{{ assetPath .fs "static/css/styles.css" }}">
  <link rel="stylesheet" href="{{ assetPath .fs "static/css/flexboxgrid.min.css" }}">
</head>
<body>
<main data-testid="app-express">
  {{template "body" .}}
</main>
<footer>
  {{template "fork_me" .}}
</footer>
</body>
</html>
{{end}}