{{define "body"}}
<div class="app-container" id="settings">

  <h2 class="typography-h2 card-title">Profile Management and Security Settings</h2>

  {{if .resp.Ui.Messages}}
    <div class="card">
      {{template "messages" dict "Messages" .resp.Ui.Messages "ClassName" "standalone"}}
    </div>
  {{end}}

  <div class="card">
    <form action="{{.resp.Ui.Action}}" method="{{.resp.Ui.Method}}">
      <h3 class="typography-h3">Profile Settings</h3>
      {{template "ui_nodes" dict "Nodes" .resp.Ui.Nodes "Only" "profile,default"}}
    </form>
  </div>

  {{if (onlyNodesGroups .resp.Ui.Nodes "password")}}
    <div class="card">
      <form action="{{.resp.Ui.Action}}" method="{{.resp.Ui.Method}}">
        <h3 class="typography-h3">Change Password</h3>
        {{template "ui_nodes" dict "Nodes" .resp.Ui.Nodes "Only" "password,default"}}
      </form>
    </div>
  {{end}}

  {{if (onlyNodesGroups .resp.Ui.Nodes "oidc")}}
    <div class="card">
      <form action="{{.resp.Ui.Action}}" method="{{.resp.Ui.Method}}">
        <h3 class="typography-h3">Manage Social Sign In</h3>
        {{template "ui_nodes" dict "Nodes" .resp.Ui.Nodes "Only" "oidc,default"}}
      </form>
    </div>
  {{end}}

  {{if (onlyNodesGroups .resp.Ui.Nodes "lookup_secret")}}
    <div class="card">
      <form action="{{.resp.Ui.Action}}" method="{{.resp.Ui.Method}}">
        <h3 class="typography-h3">Manage 2FA Backup Recovery Codes</h3>
        <p class="typography-paragraph">Recovery codes can be used in panic situations where you have lost access to
          your 2FA device.</p>
          {{template "ui_nodes" dict "Nodes" .resp.Ui.Nodes "Only" "lookup_secret,default"}}
      </form>
    </div>
  {{end}}

  {{if (onlyNodesGroups .resp.Ui.Nodes "totp")}}
    <div class="card">
      <form action="{{.resp.Ui.Action}}" method="{{.resp.Ui.Method}}">
        <h3 class="typography-h3">Manage 2FA TOTP Authenticator App</h3>
        <p class="typography-paragraph">Add a TOTP Authenticator App to your account to improve your account security.
          Popular Authenticator Apps are <a href="https://www.lastpass.com" target="_blank">LastPass</a> and Google
          Authenticator (<a href="https://apps.apple.com/us/app/google-authenticator/id388497605"
                            target="_blank">iOS</a>, <a
            href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=en&gl=US"
            target="_blank">Android</a>).
        </p>
        {{template "ui_nodes" dict "Nodes" .resp.Ui.Nodes "Only" "totp,default"}}
      </form>
    </div>
  {{end}}

  {{if (onlyNodesGroups .resp.Ui.Nodes "webauthn")}}
    <div class="card">
      <form action="{{.resp.Ui.Action}}" method="{{.resp.Ui.Method}}">
        <h3 class="typography-h3">Manage Hardware Tokens and Biometrics</h3>
        <p class="typography-paragraph">
          Use Hardware Tokens (e.g. YubiKey) or Biometrics (e.g. FaceID, TouchID) to enhance your account security.
        </p>
        {{template "ui_nodes" dict "Nodes" .resp.Ui.Nodes "Only" "webauthn,default"}}
      </form>
    </div>
  {{end}}

  <div class="card">
    <div class="card-action">
      <a class="typography-link typography-h2" href="welcome">Back</a>
    </div>
  </div>
</div>
{{end}}